* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* 重點！ */
}

body {
  background-color: #869940;;
  display: flex;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 800px;
  border: lime 2px solid;
  perspective: 1000px;
}

.memory__card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

/* 似乎沒作用 ？ */
.memory__card:active {  
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory__card.flip {
  transform: rotateY(180deg);
}


.card__front,   /* 包含逗號，是指 class 中有 card__front 或 card__back，都會被編輯器所選擇到。 */
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #b6c67c;
  backface-visibility: hidden;
}

.card__front {
 transform: rotateY(180deg);
}
