html, body {
  margin: 0px;
  color: rgba(0,0,0,0.84);
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  margin-top: 20px;
  font-size: 42px;
}

p {
  font-size: 21px;
  margin: 30px 0px;
}

.sidebar {
  position: fixed;
  top: 30%;
  left: calc((100% - 740px)/6);
}

@media (max-width: 900px){
  .sidebar {
    display: none;
  }
}

@media (max-width: 747px){
  .title {
    font-size: 30px;
  }

  p {
    font-size: 17px;
  }
}

