body {
  background-image: url(https://images.pexels.com/photos/268715/pexels-photo-268715.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.searchBox {
  margin: 30px auto;
  text-align: center;
}

.searchBox__ele {
  /* height: 50px */
  font-size: 28px;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.container__box {
  position: relative;
  border: 1px black solid;
  width: 272px;
  height: 380px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
}

.submit {
    font-size: 16px;
    background: #2196F3;
    padding: 6px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.1);
}