/* 
* html 架構：
.gameTitle

.container > .box > .video  > img
                  > .avatar > img
                            > .info > .status
                                    > .host
                                    > .timeLast

*/
body {
background: rgb(106,224,216);
background: linear-gradient(0deg, rgba(106,224,216,1) 0%, rgba(156,194,247,1) 50%, rgba(98,212,239,1) 100%);}

.selector {
  margin: 10px auto;
  text-align: center;
}


.gameTitle {
  margin: 30px auto;
  text-align: center;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.container__box {
  width: 300px;
  height: 280px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
}

.container__box:hover {
    transform: scale(1.03);
}

.box__video {
  width: 300px;
  height: 200px;
  }

.box__video img {
  width: 300px;
  height: 200px;
}

.box__avatar {
  display: flex;
  align-items: center;
  background-color: #000;
  opacity: 0.85;
  width: 300px;
  height: 105px;
}

.avatar__img {
  border-radius: 50%;
  border: 1px solid grey;
  background-size: 50px 50px;
  width: 70px;
  height: 70px;
  margin: 10px;
  z-index: 100;
}

.avatar__info {
  width: 210px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h6 {
  color: white;
  margin: 0px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}


.info__status {
  text-overflow: ellipsis;
  color: rgb(190, 186, 186);
  font-size: 12px;
}

.info__host {
  text-overflow: ellipsis;
  font-size: 16px;
}

.info__timeLast {
  /* color: white; */
  text-overflow: ellipsis;
  text-align: end;
  font-size: 8px;
  /* margin: 0px; */
}

